.txt {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.myunderline {
    background-image: linear-gradient(to right, rgba(1, 110, 218,0.4) , rgb(217, 0, 192));
    height: 6px;
    width: 120px;
    margin-bottom: 30px;
    position: relative;
}

.line_animate {
    animation-name: line-animate;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
}

@keyframes line-animate {
    0%   {left:-5%;}
    50%  {left:5%;}
    100% {left:0%;}
}